.formulario {
    background-color: rgb(122, 96, 81);
    margin:40px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 10px;
}
form {
    text-align: center;
    color: aliceblue;
}
img#subir {
    width: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
}