html{
    background-color:beige;
}
header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aliceblue;
    background-image: url(../imagenes/foto_ropa_portada.jpg);
    padding: 5px 10px 50px 10px;
}
.nav-encabezado{
    background-color: rgb(122, 96, 81);
    padding: 10px 30px 10px 30px;
}
nav ul li a{
    display: inline;
    
}
