*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color:beige;
}
header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 5px 10px 50px 10px;
}
/*Estilo para el logo*/
img#logo{
    float: left;
    height: auto;/*Para Mantener su proporción original*/
}
.logo-container{
    width: 100%;/*El contenedor ocupa todo el ancho disponible*/
    max-width: 150px;/*Máximo ancho*/
}
/*Estilo para pantallas pequeñas (foto logo)*/
@media (max-width:600px) {
    img#logo{
        width: 80%;
        float:none; /*Evita que flote en pantalals pequeñas*/
        display:block;
        margin: auto;
    }
}
@media (max-width: 601px) {
    img#logo{
        width: 150px;
        float: left;
    }
}

/*Estilo barra de navegación*/
.nav-encabezado{
    display: flex;
    justify-content: flex-end;/*justifica el contenido*/
    background-color: rgb(122, 96, 81); /*color barra de navegación*/
    padding: 30.5px;
}
.nav-encabezado ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-encabezado > ul {/*Este > nos dice que solamente se modificará aquellos elementos que están directamente dentro de la class nav-encabezado, las listas anidadas dentro de las ul no se verán afectadas*/
    display:flex;
    justify-content: space-around;/*esto sirve para espaciar los elementos de forma equitativa*/
}
.nav-encabezado li {
    position: relative;/*Con esto sonsigo que la lista anidada se quede justo debajo de la lista principal*/
}
.nav-encabezado a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;/*Margen interior*/
    background-color: rgb(122, 96, 81);
}
.nav-encabezado a:hover{ 
    background-color: rgb(217, 200, 182);/*color cuando pasas el raton por encima*/
}
p.botones-encabezado{
    margin: 0;
    padding: 10px 50px 10px 50px;
    background-color: rgb(122, 96, 81);
}
.nav-encabezado p:hover{
    background-color: #555;
}
/*Estilo para las listas anidadas*/
.nav-encabezado ul ul{
    display: none; /*Esto es lo que hace que las ñistas anidadas solo se vean pasar el ratón por encima*/
    position: static;
    top: 100%;
    left: 0;
    background-color: rgb(219, 157, 121);
    min-width: 200px;
}
.nav-encabezado ul ul li {
    width: 100%;
}
.nav-encabezado ul ul a:hover {
    background-color: #555;
}
.nav-encabezado li:hover > ul {
    display: block;
}
.centro-nav{
    text-align: center;
}
/*Estilo para ajustar los dispositivos (nav-encabezado) */
@media (max-width:600px){
    .nav-encabezado > ul {
        flex-direction: column;/*Para colocar los elementos uno abajo del otro en pantallas pequeñas*/
    }
    .nav-encabezado ul ul {
        text-align: left;
    }
}
h1{
    text-align: center;
    font-weight: bold;
}
h2{
    text-align: center;
    font-weight: bold;
}
div#color-luz {
    float: left;
    margin-left: 14em;
    
}
div#color-pigmento {
    float: right;
    margin-right: 14em;
}
