h1{
    text-align: center;
    font-weight: bold;
}
h2{
    text-align: center;
    font-weight: bold;
}
section {
    text-align: center;
}
div {
    background-color: rgb(122, 96, 81);
    margin:40px;
}
p, h2, ul, h3, ol {
    color: beige;
}
img#subir {
    width: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
}

#nav-sections {
    list-style:disc;
    margin-left: 32em;
    color: black;
}
#nav-sections ul {
    color: black;
}
#nav-sections a {
    text-decoration: none;
    color: rgb(122, 96, 81);
}