h1{
    text-align: center;
    font-weight: bold;
}
h2{
    text-align: center;
    font-weight: bold;
}
section {
    text-align: center;
}
div {
    background-color: rgb(122, 96, 81);
    margin:40px;
}
p, h2, ul, h3 {
    color: beige;
}